@model Web_Technology.Models.Product

@{
    ViewBag.Title = "DetailAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Productname) </h2>

<div class="col-sm-12 col=md-12">
    <div class="thumbnail">
        <img src="@Html.DisplayFor(model => model.Imagepicture)" alt="thumbnail" width="350px" height="70px" />
    </div>

    <div class="caption" style="font-size:large">
        <p> Giá: @Html.DisplayFor(model => model.gia) </p>
        <p>
            <a class="btn btn-success" href="@Url.Action("Edit","Home",new {@id = Model.Idproduct, @strURL = Request.Url.ToString()})">Edit</a>
            <a class="btn btn-success" href="@Url.Action("Delete","Home",new {@id = Model.Idproduct, @strURL = Request.Url.ToString()})">Delete</a>

        </p>

    </div>
</div>

<p>
    @Html.ActionLink("Trở về trang chủ", "Index")
</p>
