<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css_them1")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img src="" alt="Alternate Text" />
    <div class="header">
        <!-- Container -->
        <div class="container">
            <!-- Navigation Bar -->
            <div class="navbar">
                <!-- Homepage-logo -->
                <div class="homepage-logo">
                    <img src="~/Content/Images/logohome.jpg" width="150px">
                </div>
                <!-- Chức năng -->
                <nav>
                    <ul class="Item">
                        <li>
                            <a href="">
                                <form action="searchbar" role="searchform" width>
                                    <input type="text" class="form-control" placeholder="Hãy nhập sản phẩm bạn muốn tìm" size="70px">
                                </form>
                            </a>
                            <a href="https://localhost:44396/User/Dangky">ĐĂNG KÝ</a>
                            <a href="https://localhost:44396/User/Dangnhap">ĐĂNG NHẬP</a>
                            @Html.Partial("~/Views/GioHang/GioHangPartial.cshtml")
                            <a href="https://localhost:44396/Home/Index">ADMIN</a>

                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Navigation Bar -->
            <!-- menu produce -->
            <div class="listmenu">
                <ul>
                    <li class="Laptop">
                        <a href="">Laptop</a>
                        <ul class="sub-menu-laptop">
                            <li><a href="">Laptop Gaming</a></li>
                            <li><a href="">Laptop Văn Phòng</a></li>
                            <li><a href="">MacBook</a></li>
                        </ul>
                    </li>
                    <li><a href="">Bàn Phím</a></li>
                    <li><a href="">Chuột + Lót chuột</a></li>
                    <li><a href="">Màn Hình</a></li>
                    <li class="Loa-Tainghe">
                        <a href="">Loa & Tai nghe</a>
                        <ul class="sub-menu-loa-tainghe">
                            <li><a href="">Loa Audio</a></li>
                            <li><a href="">Tai nghe Audio</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Linh Kiện</a>
                        <ul>
                            <li><a href="">Ram Laptop</a></li>
                            <li>
                                <a href=""></a>Lưu trữ SSD/HHD
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Banner -->
                <div class="row">
                    <div class="col-2">
                        <img src="~/Content/Images/banner1.jpg" alt="banner">
                    </div>
                </div>
            </div>

        </div>
        <!-- End Container -->
    </div>
    <div class="container body-content">
        <hr />
    </div>
    <!-- End Headder -->
    <!-- Categories apple new -->
    <div class="category-apple">
        <a href="/html/SanPhamApple.html">
            <img src="~/Content/Images/banner-apple-san-pham.jpg" alt="banner-pr-apple-new">
        </a>
    </div>
    <div class="smail-container">

    </div>
    <div class="container body-content">
        <hr />
    </div>
    <!-- End Categories apple new -->
    <!-- Categories Hotsale Display-->
    <div class="hotsale">

        <h1 class="tille">
            <i class="bi-thermometer-sun">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-sun" viewBox="0 0 16 16">
                    <path d="M5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585A1.5 1.5 0 0 1 5 12.5z" />
                    <path d="M1 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM3.5 1A1.5 1.5 0 0 0 2 2.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0L5 10.486V2.5A1.5 1.5 0 0 0 3.5 1zm5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm4.243 1.757a.5.5 0 0 1 0 .707l-.707.708a.5.5 0 1 1-.708-.708l.708-.707a.5.5 0 0 1 .707 0zM8 5.5a.5.5 0 0 1 .5-.5 3 3 0 1 1 0 6 .5.5 0 0 1 0-1 2 2 0 0 0 0-4 .5.5 0 0 1-.5-.5zM12.5 8a.5.5 0 0 1 .5-.5h1a.5.5 0 1 1 0 1h-1a.5.5 0 0 1-.5-.5zm-1.172 2.828a.5.5 0 0 1 .708 0l.707.708a.5.5 0 0 1-.707.707l-.708-.707a.5.5 0 0 1 0-.708zM8.5 12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5z" />
                </svg>
            </i>HotSale trong tháng
        </h1>
        <div class="row">
            <div class="col-4">
                <img src="~/Content/Images/apple/macbook_pro_13_m1.png" alt="MacbookPro13" width="250px">
                <h4>Macbook Pro 13</h4>
                <h3 style="color :Tomato;">36.000.000 VNĐ</h3>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/apple/macbook_air_m1.png" alt="MacbookAirM1" width="250px">
                <h4>Macbook Air M1</h4>
                <h3 style="color :Tomato;">24.000.000 VNĐ</h3>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/apple/macbook_pro_14_2021_m1_pro.png" alt="MacbookPro14" width="250px">
                <h4>Macbook Pro 14</h4>
                <h3 style="color :Tomato;">48.320.000 VNĐ</h3>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/hotsale/Laptop Gaming Asus ROG Zephyrus G15 GA503QC HN074T.jpg" alt="AsusRog" width="250px">
                <h4>Laptop Gaming Asus ROG Zephyrus G15 GA503QC HN074T</h4>
                <h3 style="color :Tomato;">32.000.000 VNĐ</h3>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/hotsale/Laptop Asus VivoBook 14 M413IA EK481T.png" alt="AsusVivobook" width="250px">
                <h4>Laptop Asus VivoBook 14 M413IA EK481T</h4>
                <h3 style="color :Tomato;">18.000.000 VNĐ</h3>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
    </div>
    <div class="product">

        <h1 class="tille">
            <i class="bi-thermometer-sun">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-sun" viewBox="0 0 16 16">
                    <path d="M5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585A1.5 1.5 0 0 1 5 12.5z" />
                    <path d="M1 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM3.5 1A1.5 1.5 0 0 0 2 2.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0L5 10.486V2.5A1.5 1.5 0 0 0 3.5 1zm5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm4.243 1.757a.5.5 0 0 1 0 .707l-.707.708a.5.5 0 1 1-.708-.708l.708-.707a.5.5 0 0 1 .707 0zM8 5.5a.5.5 0 0 1 .5-.5 3 3 0 1 1 0 6 .5.5 0 0 1 0-1 2 2 0 0 0 0-4 .5.5 0 0 1-.5-.5zM12.5 8a.5.5 0 0 1 .5-.5h1a.5.5 0 1 1 0 1h-1a.5.5 0 0 1-.5-.5zm-1.172 2.828a.5.5 0 0 1 .708 0l.707.708a.5.5 0 0 1-.707.707l-.708-.707a.5.5 0 0 1 0-.708zM8.5 12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5z" />
                </svg>
            </i>Sản Phẩm
        </h1>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <!-- End Categories Hotsale -->
    <!-- Foooter -->
    <div class="footer">
        <div class="container">
            <div id="user1" class="foooter-col-1">
                <b>
                    CÔNG TY TNHH THƯƠNG MẠI RANDOM
                    <br>EMAIL:CSKH@RANDOM.COM
                </b>
                <p style="font-size: 14px">
                    <b>HỆ THỐNG TỔNG ĐÀI MIỄN PHÍ:</b> (làm việc từ 8h00 - 22h00)
                    <br>
                    <table style="width: 296px;">
                        <tbody>
                            <tr>
                                <td style="width: 211px;">Gọi mua hàng</td>
                                <td style="width: 105px;">1800 6869</td>
                            </tr>
                            <tr>
                                <td style="width: 211px;">Hỗ trợ khách hàng</td>
                                <td style="width: 105px;">1800 6971</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
            <div id="user2" class="footer-col-2">
                <p>
                    <b>HỆ THỐNG CỦA HÀNG</b>
                <p style="font-size: 14px; padding-top: 4px">
                    <b>SHOWROM HCM</b> (làm việc từ 8h00 - 22h00)
                    <br>
                    <b>SHOWROM HN</b> (làm việc từ 8h00 - 22h00)
                    <br>
                </p>
                <p>
                    Mua Laptop Gaming, thiết bị âm thanh như tai nghe và loa hàng đầu Việt Nam bảo hành chính hãng. Mua online nhận nhiều ưu đãi hấp dẫn.
                </p>

                <div id="user3" class="footer-col-3">
                    <h3>Fanpage</h3>
                    <div class="face-content">
                        <a href="https://www.facebook.com/profile.php?id=100006780525714"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
