<!DOCTYPE html><html lang="en">

 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/Kichthuoc.css">
     @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
     <title>Document</title>
 </head>

 <body>
     <img src="~/Content/Images/Banner-Chung.jpg" width="1300px" height="275px" sizes="20px">
     <h1>
         <a href="https://localhost:44396/Product/Index" class="Trangchu">  Trang chủ</a>
         <a href="https://localhost:44396/Product/Create" class="Create">Tạo mới sản phẩm</a>
         <a href="https://localhost:44396/User/Dangnhap" class="Dangnhap">ADMIN</a>
     </h1>

     <div class="container body-content">
         @RenderBody()
         <hr />
     </div>
     <!-- End Categories Hotsale -->

     <div class="duongvienr">
     </div>
     <p class="copyrightr"><b>Copyright 2022 - RandomGroup</b></p>


     @Scripts.Render("~/bundles/bootstrap")
     @RenderSection("scripts", required: false)
 </body>
 </html>
